{% extends '/base.html.twig' %}

{% block title %}Cyfer - Support{% endblock %}
{% block nav %}{% include '/nav.html.twig' %}{% endblock %}

{% block body %}
    <br />
    <div class="container-fluid">
        <div class="columns is-multiline">
            <div class="column is-four-fifths is-offset-one-fifth">
                <div class="content">
                    <div class="column is-10">
                        <div class="columns">
                            <div class="column is-full">
                                <div class="tabs is-paddingless-left">
                                    <ul class="is-marginless-left">
                                        <li></li>
                                        <li role="nav" class="is-active"><a>Support/FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <h2 class="is-marginless-bottom">For buyers</h2>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2 grow">
                                <a href="/support/crypto/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-lock"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Crypto<br />
                                            </p>
                                            <small>how to acquire coins</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/ordering/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-shopping-cart"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Ordering<br />
                                            </p>
                                            <small>how place orders</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/finalizing/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-check"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Finalising<br />
                                            </p>
                                            <small>how to finalise orders</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/disputes/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-gavel"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Disputes<br />
                                            </p>
                                            <small>disputing orders</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/vendors/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-thumbs-up"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Vendors<br />
                                            </p>
                                            <small>about trusted vendors</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <h2 class="is-marginless-bottom">For vendors & buyers</h2>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2 grow">
                                <a href="/support/general/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-info"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                General<br />
                                            </p>
                                            <small>info about Cyfer</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/multisig/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-institution"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Multi-Sig<br />
                                            </p>
                                            <small>create wallet</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/experience/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-level-up"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Experience<br />
                                            </p>
                                            <small>level system</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/signing/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-edit"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Signing<br />
                                            </p>
                                            <small>sign transaction</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/privacy/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-eye-slash"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Privacy<br />
                                            </p>
                                            <small>privacy measures</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <h2 class="is-marginless-bottom">For vendors</h2>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2 grow">
                                <a href="/support/become/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-user-plus"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Vendor<br />
                                            </p>
                                            <small>become a vendor</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column is-2 grow">
                                <a href="/support/goods/">
                                    <div class="card">
                                        <div class="card-content has-text-centered">
                                            <p class="title is-marginless-bottom">
                                                <i class="fa fa-ban"></i>
                                            </p>
                                            <p class="subtitle is-marginless">
                                                Goods<br />
                                            </p>
                                            <small>banned goods</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}