{% extends 'base.html.twig' %}

{% block title %}Cyfer - Support{% endblock %}
{% block nav %}{% include '/nav.html.twig' %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-3">
            <div class="col-md-12">
                <div class="col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Contact</h2>
                                </div>
                            </div>
                            <div class="row">
                                <hr class="col-md-11"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ol>
                                <li> We have no obligation to respond to any court order outside of Hong Kong jurisdiction. All non-Hong Kong court orders that are within reason will be acted upon.
                                </li>
                                <li> Your court order, in entirety, will be published <a href="/disclosure/">here</a>.
                                </li>
                                <li> For any other communication besides legal related, contact us through <a href="/support/">support</a>.
                                </li>
                                <li> It may take up to five business days before you get a response.
                                </li>
                                <li> For any legal, court, or DMCA related issues contact contact [at] cyfer.ru.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}