{% extends '/base.html.twig' %}

{% block title %}Cyfer - Disputes{% endblock %}
{% block nav %}{% include '/nav.html.twig' %}{% endblock %}

{% block body %}
    <br />
    <div class="container-fluid">
        <div class="columns is-multiline">
            <div class="column is-four-fifths is-offset-one-fifth">
                <div class="content">
                    <div class="column is-10">
                        <div class="columns">
                            <div class="column is-full">
                                <div class="tabs is-paddingless-left">
                                    <ul class="is-marginless-left">
                                        <li></li>
                                        <li role="nav"><a href="/support/">Support/FAQs</a></li>
                                        <li role="nav" class="is-active"><a>Disputing orders</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <h3 id="order">Ordering.</h3>
                                <ol>
                                    <li>Press dispute on the order page.</li>
                                    <li>Type why you are disputing the order in the message box.</li>
                                </ol>
                                <h3 id="order">Only reasons to dispute order.</h3>
                                <ol>
                                    <li>Wrong product (the product you ordered does not match the product you got)</li>
                                    <li>The product is broken on opening</li>
                                    <li>You never received the order</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}