{% extends '/base.html.twig' %}

{% block title %}Cyfer - Banned Goods{% endblock %}
{% block nav %}{% include '/nav.html.twig' %}{% endblock %}

{% block body %}
    <br />
    <div class="container-fluid">
        <div class="columns is-multiline">
            <div class="column is-four-fifths is-offset-one-fifth">
                <div class="content">
                    <div class="column is-10">
                        <div class="columns">
                            <div class="column is-full">
                                <div class="tabs is-paddingless-left">
                                    <ul class="is-marginless-left">
                                        <li></li>
                                        <li role="nav"><a href="/support/">Support/FAQs</a></li>
                                        <li role="nav" class="is-active"><a>Banned Goods</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <ul>
                                    <li>No selling any sort of illegal good or service by British Virgin Island law.</li>
                                    <li>No firearms (until I do more research)</li>
                                    <li>No explosives or controlled chemicals</li>
                                    <li>No stolen goods</li>
                                    <li>No drugs (even if they are legal)</li>
                                    <li>Fake government documents</li>
                                    <li><b>Just use logic, if you think it might cause a problem, then don't sell it.</b>
                                    I'm not going to go to prison just so you can sell something, if I see something that is illegal, I will remove it instantly.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}